*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgba(255, 235, 205, 0.884);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input{
    height: 47px;
    width: 400px;
    padding: 10px;
    border-radius: 10px ;
}

button{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px ;
    margin-left: 20px;
}

button:hover{
    background-color: rgb(206, 21, 21);
    color: #fff;
}

